body {

    background: url(assets/image/wallpaper1.png) repeat-y, 
                url(assets/image/wallpaper2.png) 100% 0 repeat-y;
}

@media screen and (min-width: 400px) {
.container {
    display: grid;
    grid-template-rows: 2fr 4fr 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer"
}

.header {
    display: grid;
    column-gap: 15px;
    grid-template-columns: 4fr 2fr 1fr 3fr;
    text-decoration: none;
    grid-template-areas:
    "header-nav header-logo header_search header-icons"
}

.header-nav {
    display: grid;
    margin: 50px;
    grid-template-columns: repeat(4,auto);
    column-gap: 15px;
    justify-content: space-around;
}

.header-nav__link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #2D2D2D;
}

.header_search {
    position: relative;
    width: 300px;
    margin: 50px;
}
.header_input, button {
    border: none;
    outline: none;
    border-radius: 3px;
}
.header_input {
    width: 100%;
    height: 42px;
    background: #F9F0DA;
    padding-left: 15px;
}
.header_button {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
    right: 8px;
    background: #F15B42;
    cursor: pointer;
}
.header_button:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 20px;
    font-weight: bold;
}


.header-logo {
    margin: 20px;
}

.header-icons {
    display: grid;
    margin: 50px;
    grid-template-columns: repeat(3,auto);
    column-gap: 15px;
    justify-content: space-around;
}


.main_title {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: #FFFFFF;
    margin-top: 150px;
    margin-left: 950px;
}

.subtitle {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 950px;
}

.next {
    margin-top: 100px;
    margin-left: 1450px;
}

.button {
    width: 300px;
    height: 66px;
    background-color: #FFFFFF;
    border: none;
    color: #2D2D2D;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

    margin-left: 1000px;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    justify-content: center;
}

.footer_link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #2D2D2D;
}
}

@media screen and (min-width: 400px) and (max-width:599px) {
.footer {
    display: none;
    }

.footer_link {
    display: none;
    }
}

@media screen and (max-width: 768px) {
.container {
    display: grid;
    grid-template-rows: 2fr 4fr;
    grid-template-areas:
    "header"
    "main"
    }
    
    .header {
    display: grid;
    column-gap: 15px;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 2fr;
    text-decoration: none;
    grid-template-areas:
    "header-logo header-nav"
    "header_search header-icons"

}

.main_title {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: #FFFFFF;
    margin-top: 150px;
    margin-left: 50px;
}

.subtitle {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 50px;
}

.footer {
    display: none;
    }

.footer_link {
    display: none;
    }
}